.App {
  text-align: center;
  background: black;
}

body {
  max-width: 768px !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-banner {
  background-image: url("/assets/images/banner.jpg");
  height: 300px;
  width: 100%;
  margin-top: -10px;
}

.banner-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: white;
  text-align: center;
}

.tab-container {
  position: sticky !important;
}

.header {
  height: 90px;
}

.header-container {
  display: flex;
  width: 100%;
}

.section-pages {
  display: flex;
  justify-content: space-evenly;
}

.link-text {
  text-decoration: none !important;
  color: black;
}

.intro-container {
  padding: 5% 10%;
  text-align: center;
}

.card-container {
  padding: 6% 10% 1% 10%;
}

.tab-container {
  padding: 0 10%;
  box-shadow: rgba(126, 142, 177, 0.12) 0px 2px 4px;
  max-width: 1200px;
  margin: auto;
}

.vault-card {
  text-align: center;
}

.footer-section {
  background: #2b2b2b;
  color: white;
}
.footer1 {
  margin: auto;
  margin-top: 10%;
  justify-content: space-between;
  padding: 5% 15%;
}

.contact-text {
  font-size: 1.1rem;
}
.footer-bottom {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.link-text1 :hover {
  color: black !important;
}

.link-text1 {
  text-decoration: none !important;
  color: black ; 
}